# Core Python Review

## Part 1

* print

In [55]:
print("Word", "with Spaces")

Word with Spaces

In [57]:
print("Hello")
print()
print("Goodbye")

Hello

Goodbye

In [58]:
print(["Hobbies", "..."])

['Hobbies', '...']

* lists and tuples

In [1]:
health = [
    ("Mon", 60, 120, "GOOD"),
    ("Tue", 64, 130, "BAD"),
    ("Wed", 62, 140, "BAD"),
    ("Thu", 69, 125, "GOOD"),
    ("Fri", 61, 120, "GOOD"),
]

In [4]:
print(health[0])

('Mon', 60, 120, 'GOOD')

In [6]:
for row in health:
    print(row)

('Mon', 60, 120, 'GOOD')
('Tue', 64, 130, 'BAD')
('Wed', 62, 140, 'BAD')
('Thu', 69, 125, 'GOOD')
('Fri', 61, 120, 'GOOD')

* decision-making with tests,

In [52]:
hr_cutoff = 63
bp_cutoff = 125

#   row = health[0]
#   row = health[1], ...
#   row = health[]
for row in health:
    
    if (row[1] > hr_cutoff) and (row[2] > bp_cutoff):
        # print(row)
        print("BAD", row[-1])
    else:
        # print(row)
        print("GOOD", row[-1])

GOOD GOOD
BAD BAD
GOOD BAD
GOOD GOOD
GOOD GOOD

* lists and dictionaries

In [33]:
crime = [
    {"area": "London", "crime": "Theft", "value": 1_000},
    {"area": "Leeds", "crime": "Mugging", "value": 200},
    {"area": "London", "crime": "Theft", "value": 1_000},
    {"area": "Leeds", "crime": "Mugging", "value": 20},
    {"area": "Leeds", "crime": "Mugging", "value": 30},
]

* indexing

In [34]:
print(crime[-2])

{'area': 'Leeds', 'crime': 'Mugging', 'value': 20}

* finding an entry using a dictionary's *key*, `area`,

In [45]:
leeds_mugging = crime[-1]

In [48]:
leeds_mugging['area']

'Leeds'

In [43]:
print(crime[-1]['area'])

Leeds

* loops

In [35]:
for row in crime:
    print(row)

{'area': 'London', 'crime': 'Theft', 'value': 1000}
{'area': 'Leeds', 'crime': 'Mugging', 'value': 200}
{'area': 'London', 'crime': 'Theft', 'value': 1000}
{'area': 'Leeds', 'crime': 'Mugging', 'value': 20}
{'area': 'Leeds', 'crime': 'Mugging', 'value': 30}

In [36]:
for row in crime:
    # print(row['value'], row['crime'])
    
    if row['value'] >= 1000:
        print('THEFT', row['crime'])
    else:
        print('MUGGING', row['crime'])

THEFT Theft
MUGGING Mugging
THEFT Theft
MUGGING Mugging
MUGGING Mugging

---

## EXTRA: Part 1

* comprehensions

In [37]:
crime

[{'area': 'London', 'crime': 'Theft', 'value': 1000},
 {'area': 'Leeds', 'crime': 'Mugging', 'value': 200},
 {'area': 'London', 'crime': 'Theft', 'value': 1000},
 {'area': 'Leeds', 'crime': 'Mugging', 'value': 20},
 {'area': 'Leeds', 'crime': 'Mugging', 'value': 30}]

In [38]:
[ row for row in crime ] == crime

True

In [39]:
[ row['area'] for row in crime ]

['London', 'Leeds', 'London', 'Leeds', 'Leeds']

* imports

In [40]:
from statistics import mode

In [41]:
mode([ row['area'] for row in crime ])

'Leeds'

---

## Review Exercise (30 - 45min)

* Stretch exercise
    * compare every person in this list with every other person
    * think about a way of judging whether two people are similar
        * Q. print() whether they are similar
        * Harder Q. group similar people into common sets (lists)
            * HINT: choose the number of similar groups first, eg., split into 3

In [91]:
people = [
    # age, budget, like1, like2, like3 
    (1, 18, 180, True,  False, True),
    (2, 28, 210, False, False, True),
    (3, 38, 185, True,  True,  True),
    (4, 19, 250, False, False, True),
    (5, 42, 500, False, False, False),
]

In [93]:
for me in people:
    for you in people:
        if me[0] == you[0]:
            continue
            
        print(me, you)

(1, 18, 180, True, False, True) (2, 28, 210, False, False, True)
(1, 18, 180, True, False, True) (3, 38, 185, True, True, True)
(1, 18, 180, True, False, True) (4, 19, 250, False, False, True)
(1, 18, 180, True, False, True) (5, 42, 500, False, False, False)
(2, 28, 210, False, False, True) (1, 18, 180, True, False, True)
(2, 28, 210, False, False, True) (3, 38, 185, True, True, True)
(2, 28, 210, False, False, True) (4, 19, 250, False, False, True)
(2, 28, 210, False, False, True) (5, 42, 500, False, False, False)
(3, 38, 185, True, True, True) (1, 18, 180, True, False, True)
(3, 38, 185, True, True, True) (2, 28, 210, False, False, True)
(3, 38, 185, True, True, True) (4, 19, 250, False, False, True)
(3, 38, 185, True, True, True) (5, 42, 500, False, False, False)
(4, 19, 250, False, False, True) (1, 18, 180, True, False, True)
(4, 19, 250, False, False, True) (2, 28, 210, False, False, True)
(4, 19, 250, False, False, True) (3, 38, 185, True, True, True)
(4, 19, 250, False, False, True) (5, 42, 500, False, False, False)
(5, 42, 500, False, False, False) (1, 18, 180, True, False, True)
(5, 42, 500, False, False, False) (2, 28, 210, False, False, True)
(5, 42, 500, False, False, False) (3, 38, 185, True, True, True)
(5, 42, 500, False, False, False) (4, 19, 250, False, False, True)

In [85]:
data = [(1, 2), (2, 3), (34, 5)]


for element in data:
           #x         #y
    print(element[0], element[1])
    
    

# x = data[0][0] ... data[1][0] ... data[2][0]
# y = data[0][1] ... data[1][1] ... data[2][1]

for (x, y) in data:
    print(x, y)

1 2
2 3
34 5
1 2
2 3
34 5

In [62]:
for me in people:
    for you in people:
        print(me, you)

(18, 180, True, False, True) (18, 180, True, False, True)
(18, 180, True, False, True) (28, 210, False, False, True)
(18, 180, True, False, True) (38, 185, True, True, True)
(18, 180, True, False, True) (19, 250, False, False, True)
(18, 180, True, False, True) (42, 500, False, False, False)
(28, 210, False, False, True) (18, 180, True, False, True)
(28, 210, False, False, True) (28, 210, False, False, True)
(28, 210, False, False, True) (38, 185, True, True, True)
(28, 210, False, False, True) (19, 250, False, False, True)
(28, 210, False, False, True) (42, 500, False, False, False)
(38, 185, True, True, True) (18, 180, True, False, True)
(38, 185, True, True, True) (28, 210, False, False, True)
(38, 185, True, True, True) (38, 185, True, True, True)
(38, 185, True, True, True) (19, 250, False, False, True)
(38, 185, True, True, True) (42, 500, False, False, False)
(19, 250, False, False, True) (18, 180, True, False, True)
(19, 250, False, False, True) (28, 210, False, False, True)
(19, 250, False, False, True) (38, 185, True, True, True)
(19, 250, False, False, True) (19, 250, False, False, True)
(19, 250, False, False, True) (42, 500, False, False, False)
(42, 500, False, False, False) (18, 180, True, False, True)
(42, 500, False, False, False) (28, 210, False, False, True)
(42, 500, False, False, False) (38, 185, True, True, True)
(42, 500, False, False, False) (19, 250, False, False, True)
(42, 500, False, False, False) (42, 500, False, False, False)

In [69]:
int(10 < 20), int(20 < 10)

(1, 0)

In [87]:
list(range(3))

[0, 1, 2]

In [89]:
# step1
for i in range(3):
    
    # step 2
    if i == 2:
        # step 3
        continue # skip: goto step1
    else:
        # step 4
        print(i)
        
        
# i==0: 1, 2, 4, 1
# i==2: 1, 2, 3, 1

0
1

In [90]:
cutoff_age = 10
cutoff_budget = 25
base_score = 2

group4 = []
group3 = []

# for == repeat for-each element in people

# eg., (42,  500,     False,  False,  False) 
for   (ageA, budgetA, like1A, like2A, like3A) in people:
    for (ageB, budgetB, like1B, like2B, like3B)  in people:
        
        points  = 0
        points += int( abs(ageA - ageB) <= cutoff_age )
        points += int( abs(budgetA - budgetB) <= cutoff_budget )
        points += int( like1A == like1B )
        points += int( like2A == like2B)
        points += int( like3A == like3B)
        
        # points == 5 when both people are the same person
        if points == 5:
            continue
        elif points > base_score:
            print( "A", (ageA, budgetA, like1A, like2A, like3A) )
            print( "B", (ageB, budgetB, like1B, like2B, like3B) )
            print("SAME", points)
            
            if points == 3:
                group3.append(  (
                     (ageA, budgetA, like1A, like2A, like3A),
                     (ageB, budgetB, like1B, like2B, like3B)
                ))
            else:
                group4.append(  (
                     (ageA, budgetA, like1A, like2A, like3A),
                     (ageB, budgetB, like1B, like2B, like3B)
                ))
        else:
            print("DIFF")

A (18, 180, True, False, True)
B (28, 210, False, False, True)
SAME 3
A (18, 180, True, False, True)
B (38, 185, True, True, True)
SAME 3
A (18, 180, True, False, True)
B (19, 250, False, False, True)
SAME 3
DIFF
A (28, 210, False, False, True)
B (18, 180, True, False, True)
SAME 3
A (28, 210, False, False, True)
B (38, 185, True, True, True)
SAME 3
A (28, 210, False, False, True)
B (19, 250, False, False, True)
SAME 4
DIFF
A (38, 185, True, True, True)
B (18, 180, True, False, True)
SAME 3
A (38, 185, True, True, True)
B (28, 210, False, False, True)
SAME 3
DIFF
DIFF
A (19, 250, False, False, True)
B (18, 180, True, False, True)
SAME 3
A (19, 250, False, False, True)
B (28, 210, False, False, True)
SAME 4
DIFF
DIFF
DIFF
DIFF
DIFF
DIFF

---

### Error Handling

In [99]:
print("START")

for p in people:
    print("A")
    print(p[6]) # error: TERMINATE
    
    
    print("B")
    
    
print("END")

START
A

IndexError: tuple index out of range

In [100]:
print("START")

for p in people:
    print("A")
    
    try:
        print(p[6]) 
    except:
        print(0)
    
    
    print("B")
    
    
print("END")

START
A
0
B
A
0
B
A
0
B
A
0
B
A
0
B
END

In [111]:
missing = [60, 0, None, 20, 10, None]

In [113]:
for e in missing:
    result = 100/e  # ZeroDivisionError
    print(result)

1.6666666666666667

ZeroDivisionError: division by zero

In [110]:
for e in missing:
    result = 100/e # TypeError
    print(result)

1.6666666666666667
3.3333333333333335

TypeError: unsupported operand type(s) for /: 'int' and 'NoneType'

In [108]:
for e in missing:
    try:
        result = 100/e
        print(result)
    except:
        pass # do nothing

1.6666666666666667
3.3333333333333335
5.0
10.0

In [115]:
missing

[60, 0, None, 20, 10, None]

In [117]:
10/None

TypeError: unsupported operand type(s) for /: 'int' and 'NoneType'

In [118]:
for e in missing:
    try:
        result = 100/e
        print(result)
    except TypeError: # None, so ignore
        pass
    except ZeroDivisionError: # 0, so report 0
        print(0)

1.6666666666666667
0
5.0
10.0

---

In [121]:
def h():
    raise Exception("My Error")
    
def g():
    h()
    
def f():
    g()
    
try:
    f()
except Exception as e:
    print(e)

My Error