# Introduction to Machine Learning: SkLearn

sklearn is a package of libraries, we always wish to select a specific library,

In [1]:
from sklearn.linear_model import LinearRegression

---

We can use, eg., seaborn to download some real-world data,

In [4]:
import seaborn as sns

tips = sns.load_dataset('tips')

In [5]:
tips.sample(3)

     total_bill   tip   sex smoker   day    time  size
175       32.90  3.11  Male    Yes   Sun  Dinner     2
88        24.71  5.85  Male     No  Thur   Lunch     2
44        30.40  5.60  Male     No   Sun  Dinner     4

...seaborn is a visualization which happens to include a dataset downloader..

---

Choosen columns for learning,

In [8]:
features = ['total_bill', 'size']
target = 'tip'

This gives us $(X, y)$,

In [7]:
X = tips[features]
y = tips[target]

In [31]:
X_new = X.sample(3) # pretend these are some new customers

The $\mathcal{Alg}$ here is `LinearRegression().fit`,

In [10]:
model = LinearRegression().fit(X, y)

The $\hat{f}$ is `model.predict`,

In [33]:
yhat_new = model.predict( X_new )

As before, $\hat{y} = \hat{f}(X^{new})$

In [34]:
yhat_new

array([3.13277334, 2.29835331, 1.84313083])

And we can get the total error on the historical data,

In [35]:
model.score(X, y)

0.46786930879612587

---

### Aside: looking at the detials

The model parameters,

In [18]:
(w0, w1), b = model.coef_, model.intercept_

In [23]:
x0, x1 = X['total_bill'], X['size']

yhat = w0 * x0 + w1 * x1 + b

The average error,

In [47]:
sum(abs(yhat - y))/len(y)

0.7390035049097032